.btn-green {
    background-color: green;
    border-color: green;
    color: white;
}

/*Added a CSS rule (white-space: nowrap) to the th and td elements to prevent line breaks.*/
th {
    white-space: nowrap; /* Prevent line breaks */
}

td {
    white-space: nowrap; /* Prevent line breaks */
}

.modal-dialog {
    max-width: 90%;
}

.modal-body {
    overflow-x: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table th, .table td {
    white-space: nowrap;
}