<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.oaifreeassist.mapper.OaiTokenManagementMapper">

    <resultMap id="BaseResultMap" type="org.example.oaifreeassist.entity.OaiTokenManagement">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="tokenType" column="token_type" jdbcType="TINYINT"/>
            <result property="tokenValue" column="token_value" jdbcType="VARCHAR"/>
            <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        account_id,
        token_type,
        token_value,
        expire_time,
        create_time,
        update_time
    </sql>
</mapper>
